Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-WTF==1.1.1
Flask-Migrate==4.0.5
WTForms==3.0.1
Werkzeug==2.3.7
bcrypt==4.0.1
Pillow==10.0.1
python-dotenv==1.0.0
email-validator==2.0.0
gunicorn==21.2.0
xlsxwriter==3.1.9
reportlab==4.0.4
matplotlib==3.7.2
seaborn==0.12.2
pandas==2.1.1
dropbox==11.36.2
python-dateutil==2.8.2
flask-limiter==3.5.0
flask-compress==1.13
requests==2.31.0
schedule==1.2.0
pytz==2023.3
